<!--<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">PEDIDOS YA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="admin">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="list">List</a>
            </li>
        </ul>
    </div>
</nav>-->
<router-outlet></router-outlet>

<!--<p>ROUTING</p>
<button type="button" class="btn btn-danger">Danger</button>

<button routerLink="home">HOME</button>
<button routerLink="about">ABOUT</button>
<button routerLink="admin">ADMIN</button>
<button routerLink="user">USER</button>

<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>

<div class="btn-group btn-group-toggle">
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton > Left (pre-checked)
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton > Middle
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton> Right
  </label>
</div>


<div style="border: 4px solid red;">
  <router-outlet>
  </router-outlet>
</div>-->